<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header') %>
</head>
<body>
    <%- include('../partials/process-list') %>
    
    <div id="main-content">
        <%- include('../partials/connections') %>
    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html> 